config:
  backup: true
  banner: true
  create: true
  dotpath: dotfiles
  keepdot: false
  link_dotfile_default: nolink
  link_on_import: nolink
  longkey: false
dotfiles:
  f_zshrc:
    src: zshrc
    dst: ~/.zshrc
  f_gitconfig:
    src: gitconfig
    dst: ~/.gitconfig
  f_update_waifu.py:
    src: config/fastfetch/update_waifu.py
    dst: ~/.config/fastfetch/update_waifu.py
  f_config.jsonc:
    src: config/fastfetch/config.jsonc
    dst: ~/.config/fastfetch/config.jsonc
  f_change_waifu.sh:
    src: config/fastfetch/change_waifu.sh
    dst: ~/.config/fastfetch/change_waifu.sh
  d_custom:
    src: config/ohmyzsh/custom
    dst: ~/.config/ohmyzsh/custom
  f_keybindings.json:
    src: config/VSCodium/User/keybindings.json
    dst: ~/.config/VSCodium/User/keybindings.json
  f_settings.json:
    src: config/VSCodium/User/settings.json
    dst: ~/.config/VSCodium/User/settings.json
  f_config.yaml:
    src: continue/config.yaml
    dst: ~/.continue/config.yaml
  f_gwenviewrc:
    src: config/gwenviewrc
    dst: ~/.config/gwenviewrc
    chmod: '600'
  f_mimeapps.list:
    src: config/mimeapps.list
    dst: ~/.config/mimeapps.list
    chmod: '644'
  d_panel-colorizer:
    src: config/panel-colorizer
    dst: ~/.config/panel-colorizer
  f_kitty.conf:
    src: config/kitty/kitty.conf
    dst: ~/.config/kitty/kitty.conf
  f_current-theme.conf:
    src: config/kitty/current-theme.conf
    dst: ~/.config/kitty/current-theme.conf
  f_open-actions.conf:
    src: config/kitty/open-actions.conf
    dst: ~/.config/kitty/open-actions.conf
  d_scenes:
    src: config/obs-studio/basic/scenes
    dst: ~/.config/obs-studio/basic/scenes
  d_ef_wan:
    src: config/obs-studio/basic/profiles/EF_WAN
    dst: ~/.config/obs-studio/basic/profiles/EF_WAN
  d_obs-advanced-masks:
    src: config/obs-studio/plugins/obs-advanced-masks
    dst: ~/.config/obs-studio/plugins/obs-advanced-masks
  f_user.ini:
    src: config/obs-studio/user.ini
    dst: ~/.config/obs-studio/user.ini
  f_init.lua:
    src: config/nvim/init.lua
    dst: ~/.config/nvim/init.lua
  d_lua:
    src: config/nvim/lua
    dst: ~/.config/nvim/lua
  f_tmux.conf:
    src: config/tmux/tmux.conf
    dst: ~/.config/tmux/tmux.conf
  f_change_plasma_edges.py:
    src: config/wal/change_plasma_edges.py
    dst: ~/.config/wal/change_plasma_edges.py
  f_plasma_color_set.sh:
    src: config/wal/plasma_color_set.sh
    dst: ~/.config/wal/plasma_color_set.sh
  f_kickstart_kde.sh:
    src: config/kickstart_kde.sh
    dst: ~/.config/kickstart_kde.sh
  f_input.conf:
    src: config/mpv/input.conf
    dst: ~/.config/mpv/input.conf
  f_mpv.conf:
    src: config/mpv/mpv.conf
    dst: ~/.config/mpv/mpv.conf
  f_playlistmanager.lua:
    src: config/mpv/scripts/playlistmanager.lua
    dst: ~/.config/mpv/scripts/playlistmanager.lua
  f_script-opts_playlistmanager.conf:
    src: config/mpv/script-opts/playlistmanager.conf
    dst: ~/.config/mpv/script-opts/playlistmanager.conf
  f_change_mpv_colors.sh:
    src: config/wal/change_mpv_colors.sh
    dst: ~/.config/wal/change_mpv_colors.sh
  f_osc.conf:
    src: config/mpv/script-opts/osc.conf
    dst: ~/.config/mpv/script-opts/osc.conf
profiles:
  kde_desktop:
    dotfiles:
    - f_zshrc
    - f_gitconfig
    - f_update_waifu.py
    - f_config.jsonc
    - f_change_waifu.sh
    - d_custom
    - f_keybindings.json
    - f_settings.json
    - f_config.yaml
    - f_gwenviewrc
    - f_mimeapps.list
    - d_panel-colorizer
    - f_kitty.conf
    - f_current-theme.conf
    - f_open-actions.conf
    - d_scenes
    - d_ef_wan
    - d_obs-advanced-masks
    - f_user.ini
    - f_init.lua
    - d_lua
    - f_tmux.conf
    - f_change_plasma_edges.py
    - f_plasma_color_set.sh
    - f_kickstart_kde.sh
    - f_input.conf
    - f_mpv.conf
    - f_playlistmanager.lua
    - f_script-opts_playlistmanager.conf
    - f_change_mpv_colors.sh
    - f_osc.conf
