config:
  backup: true
  banner: true
  create: true
  dotpath: dotfiles
  keepdot: false
  link_dotfile_default: nolink
  link_on_import: nolink
  longkey: false
dotfiles:
  f_zshrc:
    src: zshrc
    dst: ~/.zshrc
  f_gitconfig:
    src: gitconfig
    dst: ~/.gitconfig
  d_vlc:
    src: config/vlc
    dst: ~/.config/vlc
  f_update_waifu.py:
    src: config/fastfetch/update_waifu.py
    dst: ~/.config/fastfetch/update_waifu.py
  f_config.jsonc:
    src: config/fastfetch/config.jsonc
    dst: ~/.config/fastfetch/config.jsonc
  f_change_waifu.sh:
    src: config/fastfetch/change_waifu.sh
    dst: ~/.config/fastfetch/change_waifu.sh
  d_obs-studio:
    src: config/obs-studio
    dst: ~/.config/obs-studio
  d_custom:
    src: config/ohmyzsh/custom
    dst: ~/.config/ohmyzsh/custom
  f_keybindings.json:
    src: config/VSCodium/User/keybindings.json
    dst: ~/.config/VSCodium/User/keybindings.json
  f_settings.json:
    src: config/VSCodium/User/settings.json
    dst: ~/.config/VSCodium/User/settings.json
  f_config.yaml:
    src: continue/config.yaml
    dst: ~/.continue/config.yaml
  f_gwenviewrc:
    src: config/gwenviewrc
    dst: ~/.config/gwenviewrc
    chmod: '600'
  f_mimeapps.list:
    src: config/mimeapps.list
    dst: ~/.config/mimeapps.list
  d_panel-colorizer:
    src: config/panel-colorizer
    dst: ~/.config/panel-colorizer
  f_kitty.conf:
    src: config/kitty/kitty.conf
    dst: ~/.config/kitty/kitty.conf
  f_current-theme.conf:
    src: config/kitty/current-theme.conf
    dst: ~/.config/kitty/current-theme.conf
profiles:
  kde_desktop:
    dotfiles:
    - f_zshrc
    - f_gitconfig
    - d_vlc
    - f_update_waifu.py
    - f_config.jsonc
    - f_change_waifu.sh
    - d_obs-studio
    - d_custom
    - f_keybindings.json
    - f_settings.json
    - f_config.yaml
    - f_gwenviewrc
    - f_mimeapps.list
    - d_panel-colorizer
    - f_kitty.conf
    - f_current-theme.conf
